<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal</title>
</head>

<body>
    <table style="width:100%;font-family: Arial, Helvetica, sans-serif;color:#1D2536;font-size: 12px;margin-top:20px;">
        <tbody>
            <tr>
                <td style="width:140px;vertical-align:top;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 10px;">
                                    <img src="{{signature.picture}}" width="120"
                                        style="border-radius:100%;margin-top:-10px;" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 15px;">
                                    <img src="https://uaspublicmedia.blob.core.windows.net/public-media/uas-signature-logo.jpg"
                                        width="120" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="border-top: solid 2px #55148e; vertical-align: top; padding-top: 5px; padding-bottom: 0px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <table style="padding-bottom: 5px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2 style="margin-bottom:0px;font-size: 1.2em;">
                                                        {{signature.employeeName}}</h2>
                                                    <h4 style="margin-top:6px;font-size: 1em;">
                                                        {{signature.employeeDesignation}}</h4>
                                                    <p style="font-size: 12px;">
                                                        {{signature.addressLine1}}<br />{{signature.addressLine2}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 0px; padding-top: 10px;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    T:
                                                </td>
                                                <td style="font-size: 12px;">
                                                    <a href="tel:+97142996633"
                                                        style="text-decoration:none;color:#434244;">
                                                        +{{signature.phone}}
                                                    </a>
                                                </td>
                                                <td style="font-size: 12px;">
                                                    •
                                                </td>
                                                <td style="font-size: 12px;">
                                                    Ext:
                                                </td>
                                                <td style="font-size: 12px;">
                                                    {{signature.extLine}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    F:
                                                </td>
                                                <td style="font-size: 12px;">
                                                    <a href="tel:+97145103400"
                                                        style="text-decoration:none;color:#434244;">
                                                        +{{signature.faxLine}}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;">
                                                    M:
                                                </td>
                                                <td style="font-size: 12px;">
                                                    <a href="tel:+97145103400"
                                                        style="text-decoration:none;color:#434244;">
                                                        +{{signature.mobile}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 12px; vertical-align: top; width: 140px;">
                    <p style="margin-top: 5px;">
                        <a href="https://uas.aero"><img src="https://uaspublicmedia.blob.core.windows.net/public-media/Sig-Elements/Button.svg"></a>
                    </p>
                </td>
                <td style="vertical-align:top;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-right: 3px;margin-top: 2px;"><a
                                        href="https://www.linkedin.com/company/uasaero/"
                                        style="display: block; text-decoration: none; color: #55148e; padding: 0px; padding-bottom: 0px; height: 16px; width: 16px;"><img                                           
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/Sig-Elements/Linkedin.svg" width="26"
                                            height="26"></a></td>
                                <td style="padding-right: 3px;margin-top: 2px;"><a
                                        href="http://twitter.com/uas_aero"
                                        style="display: block; text-decoration: none; color: #55148e; padding: 0px; padding-bottom: 0px; height: 16px; width: 16px;"><img                                           
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/Sig-Elements/X_Twitter.svg" width="26"
                                            height="26"></a></td>
                                <td style="padding-right: 3px;margin-top: 2px;"><a
                                        href="http://www.facebook.com/UAS.aero"
                                        style="display: block; text-decoration: none; color: #55148e; padding: 0px; padding-bottom: 0px; height: 16px; width: 16px;"><img                                           
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/Sig-Elements/Facebook.svg" width="26"
                                            height="26"></a></td>
                                <td style="padding-right: 3px;margin-top: 2px;"><a
                                        href="https://www.instagram.com/uas_aero/"
                                        style="display: block; text-decoration: none; color: #55148e; padding: 0px; padding-bottom: 0px; height: 16px; width: 16px;"><img                                           
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/Sig-Elements/Instagram.svg" width="26"
                                            height="26"></a></td>
                                <td style="padding-right: 3px;margin-top: 2px;"><a
                                        href="http://www.youtube.com/channel/UCsF7071q6wbpAXKPAiXNdGg"
                                        style="display: block; text-decoration: none; color: #55148e; padding: 0px; padding-bottom: 0px; height: 16px; width: 16px;"><img                                           
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/Sig-Elements/Youtube.svg" width="26"
                                            height="26"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>