<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body,
        table,
        td,
        a {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <table
        style="width: 100%; max-width: 600px; font-family: Arial, Helvetica, sans-serif; color: #1D2528; font-size: 12px; line-height: 1.4;">
        <tbody>
            <tr>
                <td style="width: 144px; vertical-align: top; padding-right: 20px;">
                    <img src="https://uaspublicmedia.blob.core.windows.net/public-media/uas-signature-logo.jpg" width="144" />
                    <p style="margin: 10px 0 0 0;"><a href="https://uas.aero"><img src="https://uaspublicmedia.blob.core.windows.net/public-media/www.png"
                            width="132" /></a></p>
                </td>
                <td style="vertical-align: top; border-left: 2px solid #55148e; padding-left: 20px;">
                    <h2 style="margin: 0; font-size: 16px;">{{signature.employeeName}}</h2>
                    <h4 style="margin: 5px 0; font-size: 14px;">{{signature.employeeDesignation}}</h4>
                    <p style="margin: 10px 0;">
                        T: <a href="tel:+97142996633"
                            style="color: #434244; text-decoration: none;">+{{signature.phone}}</a>
                        Ext: {{signature.extLine}}<br />
                        F: <a href="tel:+97145103400"
                            style="color: #434244; text-decoration: none;">+{{signature.faxLine}}</a><br />
                        M: <a href="tel:+97145103400"
                            style="color: #434244; text-decoration: none;">+{{signature.mobile}}</a>
                    </p>
                    <table cellpadding="1" style="margin-top: 10px;">
                        <tbody>
                            <tr>
                                <td><a href="http://www.facebook.com/UAS.aero"><img
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/facebook logo.png"
                                            width="24" height="24" /></a></td>
                                <td><a href="http://twitter.com/uas_aero"><img
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/twitter_logo.png"
                                            width="24" height="24" /></a></td>
                                <td><a href="https://www.instagram.com/uas_aero/"><img
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/instagram logo.png"
                                            width="24" height="24" /></a></td>
                                <td><a href="https://www.linkedin.com/company/uasaero/"><img
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/linkedin logo.png"
                                            width="24" height="24" /></a></td>
                                <td><a href="http://www.youtube.com/channel/UCsF7071q6wbpAXKPAiXNdGg"><img
                                            src="https://uaspublicmedia.blob.core.windows.net/public-media/youtube logo.png"
                                            width="24" height="24" /></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top: 20px; font-size: 12px;">
                        {{signature.addressLine1}}<br />{{signature.addressLine2}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>